registry=http://infrarma.rmaassurance.com:9081/repository/npm-all/
email=gama@rma.ma
_auth=Z2FtYTpnYW1hLXJtYQ==
always-auth=true
http_proxy=http://helpdeskrwa:rma+2020@proxyrma.rmawatanya.com:8080/
https_proxy=http://helpdeskrwa:rma+2020@proxyrma.rmawatanya.com:8080/
no_proxy=infrarma.rmaassurance.com:9081
